*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Scrollbar style start */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #000000 #333333;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #333333;
}

*::-webkit-scrollbar-track:hover {
  background-color: #333333;
}

*::-webkit-scrollbar-track:active {
  background-color: #333333;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #000000;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #000000;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #000000;
}
/* Scrollbar style end */

html {
	block-size: 100%;
}

.page {
	inline-size: 1200px;
	block-size: 100%;
	margin: auto;
	color: #fff;
	font-family: 'Fira Sans Condensed', sans-serif;
	font-size: 18px;
	background-color: #1b1919;
	display: flex;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

.content {
	display: grid;
	grid-template-columns: 2fr 1fr;
	padding-inline: 30px 30px;
	margin: auto;
	align-items: flex-end;
	gap: 30px;
	block-size: 534px;
}

.result__video-container {
	position: relative;
	inline-size: 711px;
	block-size: 386px;
	margin-block-end: 16px;
}

.result__video {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.search-form {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: start;
	margin-block-end: 4px;
}

.search-form__fieldset {
	border: none;
}

.search-form__fieldset-title {
	color: #fff;
	font-family: inherit;
	font-size: 18px;
	font-weight: 400;
	margin-block-end: 5px;
}

.search-form__textfield {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	inline-size: 225px;
	padding-block: 2.5px;
	font: inherit;
	color: inherit;
	background-color: transparent;
	border: none;
	border-block-start: 1px solid currentColor;
	border-block-end: 1px solid currentColor;
	border-inline-start: transparent;
	border-inline-end: transparent;
}

.search-form__textfield:focus {
	outline: none;
}

.search-form__textfield:focus-visible {
	border-inline-start: 1px solid #fff;
	border-inline-end: 1px solid #fff;
	padding-inline-start: 1px;
}

.search-form__label {
	inline-size: fit-content;
	color: #fff;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: inline-flex;
}

.search-form__label:focus {
	outline: none;
}

.search-form__label:has(:focus-visible) {
	outline-color: #fff;
	outline-style: solid;
	outline-width: 1px;
	outline-offset: 1px;
}

.search-form__label:not(:last-child) {
	margin-inline-end: 15px;
}

.search-form__label:hover .search-form__label-text {
	text-decoration: underline;
}

.search-form__checkbox-list {
	display: flex;
	flex-direction: row;
}

.search-form__pseudo-checkbox {
	inline-size: 19px;
	block-size: 19px;
	border: 1px solid #fff;
	display: flex;
	margin-inline-end: 5px;
}

.search-form__pseudo-checkbox {
	position: relative;
	display: flex;
}

.search-form__checkbox[type='checkbox']:checked+span::before {
	content: '';
	inline-size: 15px;
	block-size: 15px;
	position: absolute;
	background-color: #fff;
	margin: auto;
	inset: 0;
}

.button {
	background-color: transparent;
	color: #fff;
	font-family: inherit;
	font-size: 18px;
	font-weight: 700;
	line-height: normal;
	padding: 6px 73.5px;
	border: 1px solid currentColor;
	cursor: pointer;
}

.button:active {
	background-color: #545050;
}

.button:hover {
	text-decoration: underline;
}

.button:focus {
	outline: none;
}

.button:focus-visible {
	outline: 1px solid #fff;
	outline-offset: 1px;
}

.search-form__submit-button {
	align-self: end;
}

.content__details {
	inline-size: 100%;
	block-size: 100%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	gap: 20px;
}

.title {
	position: relative;
	font-family: Oswald, sans-serif;
	font-size: 75px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 94%;
}

.content__accent {
	color: #545050;
}

.content__list {
	position: relative;
	max-block-size: 298px;
	overflow: auto;
}

.content__list-item {
	display: block;
	position: relative;
}

.content__list-item:not(:last-child) {
	margin-block-end: 30px;
}

.content__card-link {
	display: block;
	text-decoration: none;
	color: #fff;
}

.content__card-link:active {
	background-color: #545050;
}

.content__card-link:hover {
	text-decoration: underline;
}

.content__card-link:focus {
	outline: none;
}

.content__card-link:focus-visible {
	outline: 1px solid #fff;
}

.content__card-link_current {
	background-color: #545050;
}

.content__video-card-title {
	font-family: Oswald, sans-serif;
	font-size: 30px;
	font-weight: 700;
	line-height: 100%;
	text-transform: uppercase;
	margin-block-end: 5px;
}

.content__video-card-description {
	font-family: inherit;
	line-height: 90%;
}

.content__video-card {
	display: flex;
	justify-content: space-between;
}

.content__video-card-description-container {
	flex: 1 0 auto;
	padding: 2px;
}

.content__video-card-thumbnail {
	inline-size: 194px;
	object-fit: cover;
	object-position: center;
}

.more-button {
	inline-size: 100%;
}

.visually-hidden {
	position: absolute;
	inline-size: 1px;
	block-size: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	white-space: nowrap;
}
